@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --md-primary-fg-color:        #054848;
  --md-primary-fg-color--light: #f2f5f5;
  --md-primary-fg-color--dark:  #90030C;
  --md-accent-fg-color:         #033030;
}

.md-header {
    height: 100%;
    font-family: 'Spoqa Han Sans Neo';
    background-color: #054848;
}

.md-header-nav__title {
    margin-left: 0;
}

.md-ellipsis {
    opacity: .75;
    font-size: .55rem;
    color: #ffffff;
}

.md-typeset h1 {
    font-family: 'Lora';
    font-weight: bold;
    color: #054848;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lora-Roman', serif;
    color: #054848;
}

.md-typeset h3 {
    font-size: 24px;
    text-align: center;
    color: #054848;
}

p {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #666666;
}

footer {
    padding: 2em 0em 6em;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 12px;
    text-align: center;
    background-color: #f5f5f5;
    color: #666666;
    cursor: default;
}

@media screen and (max-width: 76.1875em) {

    .md-header-nav__button.md-logo {
        display: block;
        position: relative;
    }

}

@media screen and (max-width: 60em) {

    .md-header-nav__button {
        position: absolute;
        right: 0px;
    }

    .md-search {
        width: 100%;
    }

}

@media screen and (min-width: 60em) {

    .md-header-nav__button[for=__drawer] {
        display: none;
    }

    .md-search {
        width: 100%;
    }

    .md-search__inner {
        position: relative;
        width: 93%;
        float: left;
        padding: 0 .8em 1em;
        transition: width 250ms cubic-bezier(0.1, 0.7, 0.1, 1);
    }

}

@media screen and (max-width: 76.1875em) and (min-width: 60em) {
    [data-md-toggle=search]:checked~.md-header .md-search__inner {
        width: 93%;
    }
}

@media screen and (min-width: 76.25em) {
    [data-md-toggle=search]:checked~.md-header .md-search__inner {
        width: 93%;
    }

    .md-search__scrollwrap {
        width: 100%;
    }
}
