@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --md-primary-fg-color:        #054848;
  --md-primary-fg-color--light: #f2f5f5;
  --md-primary-fg-color--dark:  #90030C;
  --md-accent-fg-color:         #033030;
}

.md-header {
    font-family: 'Spoqa Han Sans Neo';
    background-color: #054848;
}

.md-header-nav__title {
    margin-left: 0;
}

.md-ellipsis {
    opacity: 0.6;
    font-size: 12px;
    color: #ffffff;
}

.md-sidebar {
}

.md-typeset h1 {
    font-family: 'Lora';
    font-weight: bold;
    color: #054848;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lora-Roman', serif;
    color: #054848;
}

p {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    color: #666666;
}

footer {
    padding: 2em 0em 6em;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 12px;
    text-align: center;
    background-color: #f5f5f5;
    color: #666666;
    cursor: default;
}

@media screen and (max-width: 76.1875em) {

    .md-header-nav__button.md-logo {
        display: block;
        position: relative;
    }

}

@media screen and (max-width: 60em) {

    .md-header-nav__button {
        position: absolute;
        right: 0px;
    }

}

@media screen and (min-width: 60em) {

    .md-header-nav__button .md-icon {
        display: none;
    }
}
